<!DOCTYPE html>
<html dir="rtl">
    <head>
        <title>ارسال ایمیل بازیابی با موفقیت انجام شد.</title>
    </head>
    <body>
        <div style="font-famili: vazir; text-align: center;">
            <h1>تقاضای ریست رمز ارسال شد.</h1>
            <p>دستور العمل بازیابی را برایتان ارسال کردیم اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد این دستورالعمل بزودی به دستتان میرسد</p>
            <p>اگر ایمیلی دریافت نکرده اید اطمینان حاصل کنید آدرس ایمیلی که با آن ثبت نام کرده اید را وارد کرده اید یا پوشه اسپم را چک کنید</p>
        </div>
    </body>
</html>